<%# yield: user if yield: user %>

<section id="question-stream">
<ul>
  <% n = 15 %>
  <% @questions.each do |question| %>
    <li>
		<a href="<%= question_url(question.id) %>">
		  <strong><%= question.title %></strong>
		  <br>
		  <%= question.body.split(/\s+/, n+1)[0...n].join(' ') if question.body %>
		</a>
    </li>
  <% end %>
</ul>

	<% if @questions.length == 0 %>
		There were no questions found.
	<% end %>

	<%= paginate @questions %>
</section>