  <%= stylesheet_link_tag    "questions", :media => "all" %>

  <aside id="page-count">
  Page X of Y
</aside>

<%# yield: user if yield: user %>

<section id="question-stream">
<ul>
  <% n = 15 %>
  <% @questions.each do |question| %>
    <li>
      <strong><%= question.title %></strong>
      <br>
      <%= question.body.split(/\s+/, n+1)[0...n].join(' ') if question.body %>
    </li>
  <% end %>
</ul>

</section>