  <%= stylesheet_link_tag    "questions", :media => "all" %>
  
  <aside id="page-count">
  Page X of Y
</aside>

<%# yield: user if yield: user %>

<section id="question-stream">
<ul>
  <% @questions.each do |question| %>
    <li><%= question.title %></li>
  <% end %>
</ul>

</section>