<% # TODO: Tagit or similar %>
<% # TODO: Get tags %>

<form class="ask-question" method="post" action="<%= questions_url %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>
    Title
    <input type="text" name="question[title]">
  </label>

  <label>
    Details
    <textarea cols="50" rows="4" name="question[body]"></textarea>
  </label>

  <label>
    Tags
    <input type="text" name="question-tag[tag_ids]">
  </label>

  <input type="submit">

</form>

<script type="application/json" id="bootstrapped_tags">
  <%#= @tags.to_json.html_safe %>
  <%#= @tags %>
  <%= @tags.join(', ') %>
</script>
