<% # TODO: Tagit or similar %>

<form class="ask-question">
  <label>
    Title
    <input type="text" name="question[title]">
  </label>

  <label>
    Details
    <textarea cols="50" rows="4" name="question[body]"></textarea>
  </label>

  <label>
    Tags
    <input type="text" name="question[tags]">
  </label>

  <input type="submit">

</form>