<% #TODO: Change questions.slug to null:false %>
<br>
<strong>Question</strong> <br>
<p style="margin: 10px"><%= @question.title %> <br>
<%= @question.body%><br>

<% @question.tags.each do |tag| %>
  <%= tag.name %>
<% end %></p>