<section id="sign-in" class="new-session">
  <h2>Log In</h2>

  <form method="POST" action="<%= session_url %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>
      Email
      <input type="text" name="user[email]">
    </label>
  <br>
    <label>
      Password
      <input type="password" name="user[password]">
    </label>
  <br>
    <input type="submit">
  </form>
</section>

<aside id="new-session-divider">
</aside>

<section id="sign-up" class="new-session">
  <h2>Sign Up</h2>

<form method="POST" action="<%= users_url %>">
  <%= render "users/attr_form" %>
</section>