<%# content_for :self_profile do %>
  <h1> Your Profile </h1>

  Name: <%= @user.name %>
  <br>
  Email address: <%= @user.email %>

  <br>
  <%= link_to "Update your info", edit_user_url(@user.id) %>
<%# end%>