<!-- Inside user namespace -->

<aside id="page-count">
  Page X of Y
  Keep Scrolling for Z pages
</aside>

<%# yield: user if yield: user %>

<ul>
  <% @questions.each do |question| %>
    <li><%= question.title %></li>
  <% end %>
</ul>