Tags
<div id="tagcloud">
  <% @tags.each_with_index do |tag, i| %>
    <a href="<%= tag_url(tag.id) %>" rel=" <%= tag.questions.length %> "><%= tag.name %></a>
  <% end %>
  
  <%= paginate @tags %>
</div>



<script>
$(document).ready(function(){
  $.fn.tagcloud.defaults = {
    size: {start: 14, end: 38, unit: 'pt'},
    color: {start: '#cde', end: '#f52'}
  };


    $('#tagcloud a').tagcloud();


});
</script>