<form method="post" action="<%= search_url %>" id='mini-search'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
 
    <input type="text" name="search" id="mini-search">

 <br>
  <input type="submit">
</form>
