Welcome to WC

<!-- <section>
  <input type="text">
</section> -->

<form method="post" action="<%= search_url %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>
    Ask a Question
    <input type="text" name="search">
  </label>

  <input type="submit">
</form>

Random/Latest questions with their popular/latest answer
