<h2>Welcome to (People Say the) Darnedest Things.</h2>

<p>Darnedest Things is inspired by Quora (the question and answer site).</p>
<p>People can ask, answer and browse questions. They can also search for a question or view all questions will a certain tag.</p>

<p>View <a href="https://github.com/Alisa-Modeste/Darnedest-Things.git">the source</a>