Welcome to WC

<!-- <section>
  <input type="text">
</section> -->

<%= render "searches/form"%>

Random/Latest questions with their popular/latest answer

<%= link_to "click", questions_url( {page:  2}) %>

<div>ember</div>

<script type="text/x-handlebars" data-template-name="questions">
<h1>Questions Index</h1>

{{#each item in model}}
  <li>{{#linkTo "question" item.id}} {{item}} {{/linkTo}}</li>
{{/each}}


</script>

<script type="text/x-handlebars" data-template-name="question_new">
<h1>New question</h1>
{{input}}
</script>


>>>>>>> Giving up on the index for now - hide div
<script type="text/x-handlebars" data-template-name="question">
<h1>One question</h1>

<section id="question">
{{title}}
{{content.user.name}}
</section>
</script>

<!-- Users -->

<script type="text/x-handlebars" data-template-name="users">
<h1>Users Index</h1>

{{#each item in model}}
  <li>{{#linkTo "user" item.id}} {{item}} {{/linkTo}}</li>
{{/each}}

</script>

<script type="text/x-handlebars" data-template-name="user">
<h1>One user</h1>
{{name}}
</script>

<!-- Tags -->

<script type="text/x-handlebars" data-template-name="tags">
<h1>Tags Index</h1>

{{#each item in model}}
  <li>{{#linkTo "tag" item.id}} {{item}} {{/linkTo}}</li>
{{/each}}

</script>

<script type="text/x-handlebars" data-template-name="tag">
<h1>One tag</h1>
{{name}}
</script>


