<!-- <section>
  <input type="text">
</section> -->

<!--
TODO links
 <%#= render "searches/form"%>

Random/Latest questions with their popular/latest answer

<%#= link_to "click", questions_url( {page:  2}) %> -->




<!--

-->
