<!-- <section>
  <input type="text">
</section> -->

<!--
TODO links
 <%#= render "searches/form"%>

Random/Latest questions with their popular/latest answer

<%#= link_to "click", questions_url( {page:  2}) %> -->




<!--
<script type="text/x-handlebars" data-template-name="question_new">
<h1>New question</h1>
{input}}
</script>
-->
