Welcome to WC

<section>
  <input type="text">
</section>

<form method="post" action="<%= search_url %>">
  <label>
    Ask a Question
    <input type="text" name="search">
  </label>

  <input type="submit">
</form>

Random/Latest questions with their popular/latest answer
