/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 * require application
 *= require_tree ../../../vendor/assets/stylesheets
 */


/*#header {
  position: fixed;
  top: 0;
}

#content {
  margin-top: 100px;
}*/

#content {
  float: left;
  width: 500px;
}

#page-count {
  float: left;
  width: 200px;
}

.clf:after {
  content: "";
  clear: both;
  display: table;
}

body, div, section, aside, article,img, header, ul, li, a {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: "Lucida Grande", Arial;
	list-style: none;
	text-decoration: none;
}


aside {
	float:left;
	width: 200px
}

img {
	width : 286px;
	height: 158x;
}





nav {
	float: left;
	width: 600px;
	/*padding: 13px*/
}

.clf section {
	float: left;
	width: 400px
}

nav li {
	display: block;
	float: left;
	padding: 17px;
}

nav li:hover {
	background-color: red;
}

header.clf section {
		
}

header.clf {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	width: 100%;
}
	


header h2 {
	float:left;
	display: block;
	width: 300px;
	font-size: 100%;

	padding: 3px 20px;
}

/* TODO header h2 em:nth-child(2) {*/
header h2 em{
	color: red
}


/*
.clf {
	clear: both;
	display: table;
}
*/
a {
	color: #a60000
}

a:hover {
	text-decoration:underline;
}