/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 * require application
 *= require_tree ../../../vendor/assets/stylesheets
 */



body, div, section, aside, article,img, header, ul, li, a {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: "Lucida Grande", Arial;
	list-style: none;
	text-decoration: none;
}

#question-stream {
  float:left;
  width: 600px;
  margin: 0 100px;
  position: relative
}

#question-stream li {
	display: block;

	border-radius: 14px;
     border-top: 7px solid #6495ED;
     border-bottom: 7px solid #6495ED;
  padding: 20px;
  margin: 20px 10px;

  box-shadow: 10px 10px 5px #888, 0 0 1px gray;
  position:relative;
  z-index: 1;
}

aside {
	float:left;
	width: 200px
}

img {
	width : 286px;
	height: 158x;
}

#question {
	display: block;
	width: 700px;
	border-radius: 14px;
     border-top: 7px solid #6495ED;
     border-bottom: 7px solid #6495ED;
  padding: 20px;
  margin: auto;

  box-shadow: 10px 10px 5px #888, 0 0 1px gray;
  position:relative;
  z-index: 1;
}

#answers article{
	display: block;
	width: 700px;
  padding: 20px;
  margin: 30px auto;
  border-radius: 14px;
  position:relative;
  z-index: 1;
  background-color: #cbd4e1;
}

/*#answers article:nth-child(even){
  border-top: 7px solid crimson;

}

#answers article:nth-child(odd){
  border-top: 7px solid green;
}*/

#content {
  margin-top:50px;
  margin-left: 350px;
}

#answers article:before{
	height: 200px;
	width: 400px;
	display: block;
	content: 'hi';
	background: url(1381565212_bird_sign_sparkles.png) no-repeat center top;
}
#answers p {
	margin: 30px auto;
	width: 700px

}


nav {
	float: left;
	width: 300px;
	/*padding: 13px*/
/*  height:100%;*/
  overflow:auto
}

.clf section {
	float: left;
	width: 300px
}

nav li {
	display: block;
  margin-left: 5px;
	padding: 24px;
  padding-right: 24px;
  padding-left: 24px;
  text-align:justify;
}

nav li:hover {
	background-color: red;
  border-radius: 10px;

}

nav li a:hover{
  color: black;
}

#image {
	position: fixed;
	width: 300px;
	left: 0;
}

#nav {
	position: fixed;
	width: 200px;
/*  left: 300px;*/

}
#new-question {
	display: block;
  background: red;
	padding: 17px;
  float:right;
  margin-right: 30px;
  border-radius: 10px;
}

#new-question a {
  color: black;
}


header {
  margin-left: 15px;
}

/*header.clf {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 100%;
}*/



header h2 {
	float:left;
	display: block;
	width: 300px;
	font-size: 100%;

	padding: 3px 0;
}

/* TODO header h2 em:nth-child(2) {*/
header h2 em{
	color: red
}

.clf {
	clear: both;
	display: table;
}

a {
	color: #a60000
}

a:hover {
	text-decoration:underline;
}

#sidebar {
	border: 1px solid black
}
body {
/*  background-color: #99ddff;*/
  background-color: #d8dfe8;
}