<% # TODO: If you're working with precompiled templates, you don't need to ship the compiler with your deployed application. Instead, you can use the smaller "runtime" build. http://handlebarsjs.com/precompilation.html (handlebars, ember)


%><!DOCTYPE html>
<html>
<head>
  <title>WisdomCrowd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <!-- // <script type="text/javascript" src="lib/ember-model-latest.js"></script>
  // <link rel="stylesheet" type="text/css" href="stylesheet.css">
  // <script type="text/javascript" src="app.js"></script>
  // <script type="text/javascript" src="router.js"></script>
  // <script type="text/javascript" src="models/question_model.js"></script>
  // <script type="text/javascript" src="models/tag_model.js"></script>
  // <script type="text/javascript" src="models/answer_model.js"></script>
  // <script type="text/javascript" src="models/user_model.js"></script>
  // <script type="text/javascript" src="controllers/questions_controller.js"></script>
  // <script type="text/javascript" src="controllers/question_controller.js"></script>
  //
  // <script type="text/javascript" src="routes/questions_route.js"></script>
  // <script type="text/javascript" src="routes/answers_route.js"></script>
  // <script type="text/javascript" src="routes/users_route.js"></script>
  // <script type="text/javascript" src="routes/tags_route.js"></script>
  // <script type="text/javascript" src="alert_view.js"></script> -->

  <script type="text/x-handlebars" data-template-name="application">
  <header id='image'>
  <img src='1381563908_gossip_birds.png'>
  <h1>Darnedest Things</h1>

  <div class='clf'></div>
  <h2><em>People</em> say the darn<em>e</em>dest things!</h2>

  	<nav>
  		<ul class='clf'>
  			<li>{{#linkTo "tags"}}Tags{{/linkTo}}</li>
  			<li>{{#linkTo "questions"}}Questions{{/linkTo}}</li>
  			<li>{{#linkTo "users"}}People{{/linkTo}}</li>
  			<li>Your Profile</li>
  		</ul>
  	</nav>
  </header>

  <p>{#linkTo "questions.new"}}Ask a question{/linkTo}}

  {{outlet}}
  </script>



  <div id="content">
    <%#= yield %>
  </div>

</body>
</html>
